DATABASE_POSTGRES_URL="postgresql://user:password@host:port/dbName"

POSTGRES_USER="user"
POSTGRES_PASSWORD= "password"
POSTGRES_PORT="port"

DATABASE_MONGODB_URL="mongodb://user:password@host:port/"

MONGO_USERNAME="user"
MONGO_PASSWORD="password"
MONGO_PORT="port"